.flexibleCase{
  position: relative;
  padding : 0px;
  margin : 10px;
}


.case-top{
  left : 15px;
  height: 15px;
  width: 400px;
  background-color: red;
  position : absolute;
}

.case-left{
  top : 15px;
  height: 400px;
  width: 15px;
  background-color: red;
  position : absolute;
}

.case-right{
  left : 415px;
  top : 15px;
  height: 400px;
  width: 15px;
  background-color: red;
  position : absolute;
}

.case-bottom{
  height: 15px;
  width: 400px;
  background-color: red;
  position : absolute;
  bottom : 0px;
  left : 15px;
}

.case{
  left : 15px;
  top : 15px;
  position : absolute;
}